.mainDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.deleteBtn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: red;
}
.userDiv {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
}

.divMap {
  width: 35%;
  background-color: rgb(241, 240, 239);
  padding: 1%;
  margin-top: 1%;
}

.adminBtn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: blue;
}

.divUser {
}

.btnDiv {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
