@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
body {
  background-color: #e5e5e5;
  margin: 0;
}

header {
  padding: 1% 0;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
}

.headerdiv {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.logotip {
  padding: 0;
  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  border-bottom: 1px solid black;
  width: auto;
  display: flex;
  text-align: center;
}

.logotip a {
  text-decoration: none;
  color: black;
}

.sign img {
  width: 50%;
  cursor: pointer;
}

.sign {
  display: flex;
  align-items: center;
  transition: 0.5s;
  right: 0;
  z-index: 50;
  background-color: #f1f1f1;
}

.novost {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 0.9%;
  position: absolute;
  right: 30%;
}
.novost a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.burger {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition-duration: 0.25s;
  visibility: visible;
}

.burger a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.burger a:hover {
  color: #f1f1f1;
}

.nameDiv {
  padding-right: 10%;
  font-size: 1.5em;
  color: black;
  padding-left: 5%;
}
