.mainDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleDiv {
  font-size: 2em;
}

.divText {
  width: 30%;
  margin: auto;
  padding: 5%;
}

.commentDiv {
  padding-bottom: 15%;
  width: 30%;
}

.commentDiv input {
  background-color: inherit;
  padding: 1% 1%;
}

.divcomment {
   margin-top: 1%;
}

.loginComm {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  background-color: white;
  margin-bottom: 2%;
}

.loginDiv {
  padding-left: 5px;
  font-size: 1.1em;
  color: brown;
  padding-bottom: 4%;

}

.textDiv {
  padding-left: 5px;
  font-size: 1.1em;

}

form input {
  margin-bottom: 1%;
}

.loader {
  position: relative;
  left: 50%;
}